[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/tensorflow"]
	path = thirdparty/tensorflow
	url = https://github.com/tensorflow/tensorflow.git
[submodule "thirdparty/base64"]
	path = thirdparty/base64
	url = git@github.com:aklomp/base64.git
