[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/tensorflow"]
	path = thirdparty/tensorflow
	url = git@github.com:tensorflow/tensorflow.git
