[Unit]
Description=Cyclops (3D solve using Aruco and YOLO)

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
WorkingDirectory=cyclopsdir/build
ExecStart=+cyclopsdir/build/cyclops -o=0 -d=0
Restart=always
RestartSec=1
KillMode=process

[Install]
WantedBy=multi-user.target